.hero_container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  margin-bottom: 20px;
}

.hero_contents {
  padding-top: 150px;
  padding-left: 50px;
}

@media screen and (max-width: 680px) {
  .hero_contents {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.hero_title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.button_container {
  display: flex;
  flex-wrap: wrap;
}

.hero_button {
  font-size: 1rem;
  font-weight: 800;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  white-space: nowrap;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 2rem;
  padding-right: 2.4rem;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.hero_button.play {
  color: black;
  background-color: rgb(255, 255, 255);
}

.hero_button.play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.hero_button.info {
  background-color: rgb(109, 109, 110);
  color: white;
}

.hero_button.info:hover {
  background-color: rgba(109, 109, 110, 0.7);
}

.hero_description {
  max-width: 400px;
  background-color: rgba(20, 20, 20, 0.5);
  padding: 1rem;
  border-radius: 10px;
}
